.header-cont {
    background-color: #1F2937;
    padding-left: 55px;
    padding-right: 55px;
}

.header{
    display: flex;
    justify-content: space-between;
    
    color: white;   
}

.head-links{
    list-style: none;
    display: flex;
    align-content: center;
    gap: 20px;
    
}

.logo {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: white;
    
}

.main-header {
    display: flex;
    color: white;
    gap: 100px;
}

.subsection-1 {
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-wrap: wrap;

}