.header-cont {
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    
}

.header{
    display: flex;
    justify-content: space-between;
    color: white;   
}

.head-links{
    list-style: none;
    display: flex;
    align-content: center;
    gap: 20px;
    
}

.logo {
    font: 24px;
    color: #F9FAF8;
    padding-top: 10px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: white;
    
}

.main-header {
    display: flex;
    color: white;
    gap: 100px;
    padding-top: 75px;
    padding-bottom: 75px;
    
}

.subsection-1 {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex-wrap: wrap;
}

.highlight-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.placeholder {
    align-self: center;
}

.button {
    color: white;
    background-color: #3882F6;
    max-width: 100px;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.placeholder {
    background-color: gray;
    padding: 50px 100px 50px 100px;
}